.button {
    @include btn();

    // Effects
    &.--with-shadow { box-shadow: 0px 16px 35px 0px rgba(0, 0, 0, 0.25);}
    &.--no-gradient { background-image: none; }
    &.--no-logo { .fas {display: none;}}
    &.--transparent { background: transparent; color: $black }

    // Colors
    &.--blue{ background: #6270ff; }
    
    // Borders
    &.--border-blue { border: 2px solid #6270ff; }
    &.--border-radius-soft { border-radius: 15px;}
    &.--border-radius-full { border-radius: 26px;}
} 