/**Bw Modelica**/
// https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight

//Regular
@font-face {
  font-family: "Bw Modelica";
  src: url(../src/font/Bw_Modelica//BwModelica-Regular.woff) format("woff"),
       url(../src/font/Bw_Modelica/BwModelica-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: normal; //400
}

//Bold
@font-face {
  font-family: "Bw Modelica";
  src: url(../src/font/Bw_Modelica/BwModelica-Bold.woff) format("woff"),
       url(../src/font/Bw_Modelica/BwModelica-Bold.woff2) format("woff2");
  font-style: normal;
  font-weight: bold; //700
}

//Extra Bold
@font-face {
  font-family: "Bw Modelica";
  src: url(../src/font/Bw_Modelica/BwModelica-ExtraBold.woff) format("woff"),
       url(../src/font/Bw_Modelica/BwModelica-ExtraBold.woff2) format("woff2");
  font-style: normal;
  font-weight: 800; //Extra Bold
}

//Medium
@font-face {
  font-family: "Bw Modelica";
  src: url(../src/font/Bw_Modelica/BwModelica-Medium.woff) format("woff"),
       url(../src/font/Bw_Modelica/BwModelica-Medium.woff2) format("woff2");
  font-style: normal;
  font-weight: 500; //Medium
}

//Regular italic
@font-face {
  font-family: "Bw Modelica";
  src: url(../src/font/Bw_Modelica/BwModelica-RegularItalic.woff) format("woff"),
       url(../src/font/Bw_Modelica/BwModelica-RegularItalic.woff2) format("woff2");
  font-style: italic;
  font-weight: normal;
}

//Bold italic
@font-face {
  font-family: "Bw Modelica";
  src: url(../src/font/Bw_Modelica/BwModelica-BoldItalic.woff) format("woff"),
       url(../src/font/Bw_Modelica/BwModelica-BoldItalic.woff2) format("woff2");
  font-style: italic;
  font-weight: bold;
}