.quote-1 {
    @include quote();
    border-left: 3px solid transparent;
    border-image: linear-gradient(180deg, #9b74ff 0%, #79ccff 100%);
    border-image-slice: 1%;
}

.quote-2 {
    @include quote();
    background-image: url("../src/img/quote2.png");
    background-repeat: no-repeat;
}

.quote-3{
    @include quote();
    padding-top: 0;

    span {
        font-size: 3em;
        color: #6270ff;
    }
}

.quote-4{
    @include quote();
    color: #838383;
    background-image: url("../src/img/quote2.png");
    background-repeat: no-repeat;
}
