.quote-1 {
  border-left: 3px solid transparent;
  -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#9b74ff), to(#79ccff));
  -webkit-border-image: -webkit-linear-gradient(top, #9b74ff 0%, #79ccff 100%);
  -o-border-image: -o-linear-gradient(top, #9b74ff 0%, #79ccff 100%);
  border-image: -webkit-gradient(linear, left top, left bottom, from(#9b74ff), to(#79ccff));
  border-image: linear-gradient(180deg, #9b74ff 0%, #79ccff 100%);
  border-image-slice: 1%;
  padding: 20px 0 20px 30px; }

.quote-2 {
  background-image: url("../src/img/quote2.png");
  background-repeat: no-repeat;
  padding: 20px 0 20px 30px; }

p ::first-letter {
  font-size: 60px; }
