footer {
  margin-top: 50px;
  background: $color_background_footer;
  color: $color_text_footer;
  padding: 18px 0;

  .container {
      .content_footer {
          display: flex;
          justify-content: space-between;

      //Côté gauche du footer
        .brand {
            display: flex; //Pour aligner verticalement

            img { margin-right: 10px;}
            span { font-size: 1.3em;}
      }

      //Côté droit du footer
      .networks {
        a {
            color: $color_text_footer;
            margin-left: 30px;
            font-size: 1.3em;
        }
      }
    }
  }
}
