main {
    .pageTitle{
        background: #444dad;
        padding: 55px 0;
        text-align:center;
        margin-bottom: 100px;

        span {
            color: white;
            font-size: 7.2em;
            font-weight: 800;
        }
    }

    .gridTitle {
        text-align:center;

        span{ 
            display: inline-block;
            margin-bottom: 100px;
            font-size: 3.4em;
            font-weight: bold;
        }
    }

    h3{
        color: #2e2e2e;
        font-size: 2.4em;
        font-weight: bold;
        margin: 0;
    }

    p{
        margin-top: 35px;
        color: #838383;
        font-size: 1.5em;
        text-align: justify;
    }

    //Page buttons
    .sub-page-title {
        text-align: center;
        margin-bottom: 100px;

        span:first-child{
            display: block;
            font-size: 1.2em;
            text-transform: uppercase;
        }
        span:last-child{
            display: block;
            font-size: 3.4em;
            font-weight: bold;
            color: #2e2e2e;
            margin-top: 30px;
        }
    }
}