@mixin btn{
    display: flex;
    align-items: center;
    justify-content:center;
    background-image: linear-gradient( 31deg, rgb(121,204,255) 1%, rgb(98,112,255) 100%);
    width: 215px;
    height: 55px;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    font-size: 1.2em;
    font-weight: 700;

    .fas { margin-left: 10px; }
}