@mixin grid_builder($device_size: 'xs'){
    @for $i from 1 to $total_col {
        .col-#{$device_size}-#{$i}{
            $calc:((100% / $total_col) * $i);
            $total_gutter: $gutter*2;
            width: calc(#{$calc} - #{$total_gutter}px);
            margin: 0 #{$gutter}px;
        }
    }
}