@charset "UTF-8";
/**
    Les fontionalités de cette mixin sont spécificique à ce site
    font-style:     normal 
                    italic
                    
    font-weight:    normal (400)
                    medium (500)
                    bold (700)
                    extrabold (800)
                    
**/
