// Mixins
@import "mixins/m_quotes";
@import "mixins/m_headers";
@import "mixins/m_grid";
@import "mixins/m_respond_to";
@import "mixins/m_tab";
@import "mixins/m_buttons";

// General
@import "common/fonts";
@import "common/variables";
@import "common/grid";

// Modules
@import "common/quotes";
@import "common/dropcaps";
@import "common/highlights";
@import "common/quotes";
@import "common/headers";
@import "common/accordions_tabs";
@import "common/buttons";
@import "common/gradients";
@import "common/text_pictures";
@import "common/message";
@import "common/headlines";
 
// Views
@import "views/header";
@import "views/main";
@import "views/footer";

*, *::before, *::after{ box-sizing: border-box; }

html{
    font-family: "Bw Modelica", sans-serif;
    font-size: $default_font_size; //16px
}

body{
    background: $primary; //Main color of site
    margin: 0;
    font-size: 62.5%; //62,5% de 16 = 10px --> Unité en em par la suite
}

